@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.button {
  width: 20vw;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .button {
    width: 20vw;
  }
}

@media (max-width: 576px) {
  .button {
    width: 30vw;
  }
}
